{% macro search_filters_get(attr_info, current_search_filters=None, with_add=True) -%}
  <div id="search-filters"></div>
  {% if with_add -%}
  <div>
    <button id="search-filters-add" type="button" class="btn btn-primary" style="margin:0.5em">Add Search Filter</button>
    <button id="search-filters-apply" type="button" class="btn btn-primary" style="margin:0.5em">Apply</button>
    <div class="btn-group">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin:0.5em">Apply and Export <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li id="search-filters-applyandexport-as-json"><a href="#">As JSON</a></li>
        <li id="search-filters-applyandexport-as-csv"><a href="#">As CSV</a></li>
      </ul>
    </div>
  </div>
  {%- endif %}

  <script>
  var attrs = [];
  var desc_for_attr = {};
  var type_for_attr = {};
  var values_for_attr = {};

  {% for attr, info in attr_info.items() -%}
  attrs.push("{{ attr }}");
  desc_for_attr["{{ attr }}"] = "{{ info['description'] }}";
  type_for_attr["{{ attr }}"] = "{{ info['type'] }}";
  {% if info["type"] == "enum" -%}
  values_for_attr["{{ attr }}"] = {{ info["values"]|list|safe if "values" in info else "[]" }};

  {%- endif %}
  {%- endfor %}

  function createDropdown(id, defaultValue, elements, onClick)
  {
    var divID = id;
    var div = $("<div></div>");
    div.attr("id", divID);
    div.addClass("btn-group btn-group-lg");
    // TODO: split into separate style sheet files
    div.attr("style", "margin:0.5em");

    // Button with default string
    // (or, if there is only one element in the list, that element).
    var btnID = divID + "-btn";
    var btn = $("<button></button>");
    btn.addClass("btn btn-default dropdown-toggle");
    btn.attr("id", btnID);
    btn.attr("data-toggle", "dropdown");
    btn.attr("aria-haspopup", "true");
    btn.attr("aria-expanded", "false");
    if (elements.length == 1)
        btn.text(elements[0]);
    else
        btn.text((defaultValue !== undefined && defaultValue !== null) ? defaultValue: defaultText);

    // List of elements.
    var ul = $("<ul></ul>");
    ul.addClass("dropdown-menu");
    ul.attr("aria-labelledby", btnID);

    elements.forEach(function(element)
    {
      var li = $("<li></li>");
      var a = $("<a></a>");
      a.attr("href", "#");
      a.text(element);
      li.append(a);

      li.on("click", function(event)
      {
        $("#" + btnID).text(element);
        if(onClick !== undefined)
          onClick(element);
      });

      ul.append(li);
    });

    div.append(btn);
    div.append(ul);

    return div;
  }

  function createInput(id, description, type, defaultValue)
  {
    var divID = id;
    var div = $("<div></div>");
    div.attr("id", divID);
    div.addClass("input-group input-group-lg");
    // TODO: split into separate style sheet files
    div.attr("style", "margin:0.5em");

    var inputID = divID + "-input";
    var input = $("<input></input>");
    input.attr("id", inputID);
    input.attr("type", type);
    input.attr("placeholder", description);
    input.addClass("form-control");
    if (defaultValue !== undefined)
      input.val(defaultValue);
    div.append(input);

    return div;
  }

  function createRemoveButton(id, onClick)
  {
    var divID = id;
    var div = $("<div></div>");
    div.attr("id", divID);
    div.addClass("btn-group btn-group-xs");
    // TODO: split into separate style sheet files
    div.attr("style", "margin:0.5em");

    var span = $("<span></span>");
    span.addClass("glyphicon glyphicon-remove");

    var btnID = divID + "-btn";
    var btn = $("<button></button>");
    btn.addClass("btn btn-danger");
    btn.attr("id", btnID);
    btn.append(span);
    btn.on("click", onClick);

    div.append(btn);

    return div;
  }

  function createSearchFilterValue(id, attr, defaultValue)
  {
    var desc = desc_for_attr[attr];
    var type = type_for_attr[attr];

    if(type === "int")
      return createInput(id, desc, "number", defaultValue);
    else if(type === "str")
      return createInput(id, desc, "text", defaultValue);
    else if(type === "datetime")
      return createInput(id, desc, "datetime-local", defaultValue);
    else if(type === "date")
      return createInput(id, desc, "date", defaultValue);
    else if(type === "time")
      return createInput(id, desc, "time", defaultValue);
    else if(type === "enum")
    {
      return createDropdown(
          id,
          (defaultValue !== undefined) ? defaultValue : desc,
          values_for_attr[attr],
          defaultValue,
      );
    }
    else
    {
      console.log(
        "createSearchFilterValue: Unknown type '" + type + "' for attribute '" + attr + "'",
      );
      return createInput(id, desc, type, defaultValue);
    }
  }

  function getConditionals(attr)
  {
    return (attr === "start_date" || attr === "end_date") ? ["IS"] : ["IS", "IS NOT"];
  }

  function createSearchFilter(id, attr, cond, value)
  {
    var divID = id;
    var attrID = divID + "-attr";
    var removeID = divID + "-remove";
    var condID = divID + "-cond";
    var valueID = divID + "-value";

    var div = $("<div></div>");
    div.attr("id", divID);
    // TODO: split into separate style sheet files
    div.attr("style", "display:flex; justify-content:flex-start; align-items:center");

    div.append(createDropdown(
      attrID,
      (attr !== undefined) ? attr : "Attribute",
      attrs,
      function(attr)
      {
        $("#" + condID).remove();
        $("#" + valueID).remove();
        // Temporarily remove the Remove button.
        $("#" + removeID).remove();

        div.append(createDropdown(condID, "Conditional", getConditionals(attr)));
        div.append(createSearchFilterValue(valueID, attr));

        // Readd the remove button. This is done to preserve the desired element ordering.
        div.append(createRemoveButton(removeID, function()
        {
          div.remove();
        }));
      }));

    if(cond !== undefined)
      div.append(createDropdown(condID, cond, getConditionals(attr)));

    if(value !== undefined)
      div.append(createSearchFilterValue(valueID, attr, value));

    // Add the remove button to the initial search filter structure.
    div.append(createRemoveButton(removeID, function()
    {
      div.remove();
    }));

    return div;
  }

  function counterIterate(searchFilters)
  {
    var c = searchFilters.attr("counter");
    var counter = (typeof c !== typeof undefined && c !== false) ? parseInt(c) : 0;

    searchFilters.attr("counter", (counter + 1).toString());

    return counter;
  }

  function encodeSearchFilters(searchFilters)
  {
    var args = [];

    searchFilters.children().each(function()
    {
      var divID = $(this).attr("id");

      var attr = $("#" + divID + "-attr-btn").text();
      var cond = $("#" + divID + "-cond-btn").text();

      if(cond === "IS")
        var key = attr;
      else if(cond === "IS NOT")
        var key = "not_" + attr;

      if(type_for_attr[attr] != "enum")
        var value = $("#" + divID + "-value-input").val();
      else
        var value = $("#" + divID + "-value-btn").text();

      if(value)
        args.push(encodeURIComponent(key) + "=" + encodeURIComponent(value));
    });

    return args.join("&");
  }

  $(document).ready(function()
  {
    {% if current_search_filters -%}
    var searchFilters = $("#search-filters");
    {% for key, values in current_search_filters.lists() -%}
    // key = {{ key }}, value = {{ values|safe }}
    {% for value in values -%}
    {% if key.startswith("not_") -%}
    {%- set attr = key[4:] -%}
    {%- set cond = "IS NOT" -%}
    {%- else -%}
    {%- set attr = key -%}
    {%- set cond = "IS" -%}
    {%- endif %}
    {% if attr in attr_info -%}
    searchFilters.append(createSearchFilter(
      "filter-" + counterIterate(searchFilters),
      "{{ attr }}",
      "{{ cond }}",
      "{{ value }}",
    ));
    {%- endif %}
    {%- endfor %}
    {%- endfor %}
    {%- endif %}

    {% if with_add -%}
    $("#search-filters-add").on("click", function()
    {
      var searchFilters = $("#search-filters");
      searchFilters.append(createSearchFilter("filter-" + counterIterate(searchFilters)));
    });

    $("#search-filters-apply").on("click", function()
    {
      window.location.href = window.location.pathname + "?" + encodeSearchFilters($("#search-filters"));
    });

    // TODO: Make links configurable.
    $("#search-filters-applyandexport-as-json").on("click", function()
    {
      window.location.href = "{{ url_for('api_web_v1.notifications_get') }}?" + encodeSearchFilters($("#search-filters"));
    });

    $("#search-filters-applyandexport-as-csv").on("click", function()
    {
      window.location.href = "{{ url_for('api_web_v1.notifications_get_as_csv') }}?" + encodeSearchFilters($("#search-filters"));
    });
    {%- endif %}
  });
  </script>
{%- endmacro %}
