{% macro table_start(show_checkbox=False) -%}
  <script>
    function clipboardCopy(text, el)
    {
      var copyTest = document.queryCommandSupported('copy');
      var elOriginalText = el.attr('data-original-title');

      if(copyTest === true)
      {
        var copyTextArea = document.createElement("textarea");
        copyTextArea.value = text;
        document.body.appendChild(copyTextArea);
        copyTextArea.select();
        try
        {
          var successful = document.execCommand('copy');
          var msg = successful ? 'Copied!' : 'Whoops, not copied!';
          el.attr('data-original-title', msg).tooltip('show');
        }
        catch(err)
        {
          console.log('Oops, unable to copy');
        }
        document.body.removeChild(copyTextArea);
        el.attr("data-original-title", elOriginalText);
      }
      else
      {
        // Fallback if browser doesn't support .execCommand("copy")
        window.prompt("Copy to clipboard: Ctrl+C or Command+C, Enter", text);
      }
    }

    $(document).ready(function()
    {
      // Initialize
      // ---------------------------------------------------------------------

      // Tooltips
      // Requires Bootstrap 3 for functionality
      $(".js-tooltip").tooltip();

      // Copy to clipboard
      // Grab any text in the attribute "data-copy" and pass it to the
      // copy function
      $(".js-copy").click(function()
      {
        var text = $(this).attr("data-copy");
        var el = $(this);
        clipboardCopy(text, el);
      });

{% if show_checkbox -%}
      $("#checkbox-all-parent").click(function()
      {
          $(".checkbox-all").prop("checked", $(this).prop("checked"));
      });
{%- endif %}
    });
  </script>

  <!-- style="height:100%" is needed to get FlexBoxes working properly -->
  <table class="table table-responsive table-striped table-hover table-bordered" width="100%" cellspacing="0" style="height:100%; margin:0">
    <thead>
      <tr>
{% if show_checkbox -%}
        <th scope="col" class="text-center"><input type="checkbox" class="checkbox-all" id="checkbox-all-parent"></th>
{%- endif %}
        <th scope="col" class="text-center">State</th>
        <th scope="col" class="text-center">Data</th>
        <th scope="col" class="text-center">Info</th>
      </tr>
    </thead>
    <tbody>
{%- endmacro %}

{% macro table_end() -%}
    </tbody>
  </table>
{%- endmacro %}


{% macro print_rightarrow() -%}
<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
{%- endmacro %}

{% macro print_user(user, with_link=True) -%}
{% if with_link %}<a href="users/{{ user.id }}">{% endif %}<span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;<b>{{ user.name }}</b>{% if with_link %}</a>{% endif %}
{%- endmacro %}

{% macro print_host(hostname, display_name) -%}
<b>{{ hostname }}</b>
{%- endmacro %}

{% macro print_server(server, with_link=True) -%}
{% if with_link %}<a href="{{ server.link }}">{% endif %}<span class="glyphicon glyphicon-hdd" aria-hidden="true"></span>&nbsp;<b>{{ server.hostname }}</b>{% if with_link %}</a>{% endif %}
{%- endmacro %}

{% macro print_node(node_name) -%}
<span class="glyphicon glyphicon-hdd" aria-hidden="true"></span>&nbsp;<b>{{ node_name }}</b>
{%- endmacro %}

{% macro print_notification(notif, with_link=True) -%}
  {% if notif.notif_type == "alert" -%}
    {%- set link = "notifications/alerts" -%}
    {%- set type_name = "alert" -%}
  {%- elif notif.notif_type == "handover" -%}
    {%- set link = "notifications/handovers" -%}
    {%- set type_name = "handover" -%}
  {%- elif notif.notif_type == "message" -%}
    {%- set link = "notifications/messages" -%}
    {%- set type_name = "message" -%}
  {%- else -%}
    {%- set link = "notifications" -%}
    {%- set type_name = "notification" -%}
  {%- endif %}
  {% if with_link %}<a href="{{ link }}/{{ notif.id }}">{% endif %}<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp;<b>{{ type_name }} {{ notif.id }}</b>{% if with_link %}</a>{% endif %}
{%- endmacro %}


{% macro table_row_notification(notif, notif_servers, users, reply_notifs, show_checkbox=False) -%}
  <tr>
  {% if show_checkbox %}{{ table_column_checkbox(notif) }}{% endif %}
  {{ table_column_state(notif) }}
  {% if notif.notif_type == "alert" -%}
    {{ table_row_alert(notif, notif_servers) }}
  {%- elif notif.notif_type == "handover" -%}
    {{ table_row_handover(notif, users) }}
  {%- elif notif.notif_type == "message" -%}
    {{ table_row_message(notif, users, reply_notifs) }}
  {%- else -%}
    {{ table_row_unknown(notif) }}
  {%- endif %}
	</tr>
{%- endmacro %}

{% macro table_row_alert(notif, notif_servers) -%}
  {{ table_column_data_alert(notif, notif_servers) }}
  {{ table_column_info(notif, "alerts") }}
{%- endmacro %}

{% macro table_row_handover(notif, users) -%}
  {{ table_column_data_handover(notif, users) }}
  {{ table_column_info(notif, "handovers") }}
{%- endmacro %}

{% macro table_row_message(notif, users, reply_notifs) -%}
  {{ table_column_data_message(notif, users, reply_notifs) }}
  {{ table_column_info(notif, "messages") }}
{%- endmacro %}

{% macro table_row_unknown(notif) -%}
  {{ table_column_data_unknown(notif) }}
  {{ table_column_info(notif) }}
{%- endmacro %}


{% macro table_column_checkbox(notif) -%}
  <td>
    <input type="checkbox" class="select-item checkbox checkbox-all checkbox-notification" notification-id="{{ notif.id }}">
  </td>
{%- endmacro %}

{% macro table_column_state(notif) -%}
  {% set bg_class = "" -%}
  {% if notif.notif_type == "alert" -%}
    {%- set name = "Alert" -%}
    {%- if notif.json["state"] == "DOWN" or notif.json["state"] == "CRITICAL" or notif.json["state"] == "UNREACHABLE"  -%}
      {%- set bg_class = "bg-danger" -%}
    {%- elif notif.json["state"] == "WARNING" -%}
      {%- set bg_class = "bg-warning" -%}
    {%- elif notif.json["state"] == "CUSTOM" or notif.json["state"] == "UNKNOWN" -%}
      {%- set bg_class = "bg-info" -%}
    {%- elif notif.json["state"] == "UP" or notif.json["state"] == "OK" -%}
      {%- set bg_class = "bg-success" -%}
    {%- endif %}
  {%- elif notif.notif_type == "handover" -%}
    {%- set name = "Handover" -%}
  {%- elif notif.notif_type == "message" -%}
    {%- set name = "Message" -%}
  {%- else -%}
    {%- set name = "Unknown" -%}
  {%- endif %}
  <!-- style="height:100%" is needed to get the FlexBox working correctly -->
  <td class="text-center {{ bg_class }}" class="height:100%">
    <div style="display:flex; flex-direction:column-reverse; justify-content:space-between; height:100%">
      <!-- Positioned at the bottom -->
      <p style="margin:0; padding:0"><b>{{ name }}</b></p>
  {% if notif.notif_type == "alert" -%}
      <!-- Positioned in the middle -->
      <p style="margin:0.5em; padding:0">
    {% if notif.json["trouble_code"] -%}
        <a href="{{ config.get('HOTPOTATO_TROUBLECODE_URL').format(trouble_code=notif.json['trouble_code']) }}">{{ notif.json["trouble_code"] }}</a>
    {%- else -%}
        NO TC
    {%- endif %}
      </p>
      <!-- Positioned at the top -->
      <p style="margin:0; padding:0"><b>{{ notif.json["state"] }}</b></p>
  {%- endif %}
    </div>
  </td>
{%- endmacro %}


{% macro table_column_data_status(notif) -%}
  {% if notif.has_been_received_by_client() -%}
    <span title="Received by client ({{ notif.json['status'] }})" class="glyphicon glyphicon-ok-sign pull-right" style="color:green"></span>
  {% elif notif.has_been_sent() -%}
    <span title="Sent ({{ notif.json['status'] }})" class="glyphicon glyphicon-ok-circle pull-right" style="color:green"></span>
  {%- elif notif.is_sending() -%}
    <span title="Sending ({{ notif.json['status'] }})" class="glyphicon glyphicon-send pull-right"></span>
  {%- elif notif.failed_to_send() -%}
    <span title="Send failed ({{ notif.json['status'] }})" class="glyphicon glyphicon-exclamation-sign pull-right" style="color:red"></span>
  {%- else -%}
    <span title="Not yet sent ({{ notif.json['status'] }})" class="glyphicon glyphicon-time pull-right"></span>
  {%- endif %}
{%- endmacro %}


{% macro table_column_data_alert(notif, notif_servers) -%}
  {%- set server = notif_servers.get(notif.json["server_id"]) -%}
  {%- set hostname = notif.json["hostname"] -%}
  {%- set display_name = notif.json["display_name"] -%}
  <td>
    {{ table_column_data_status(notif) }}
    <p>{{ print_server(server) }}&emsp;{{ print_rightarrow() }}&emsp;{% if notif.json["alert_type"] == "service" %}<b>{{ notif.json["service_name"] }}</b> on {% endif %}{{ print_host(hostname, display_name) }}</p>
    <p><code>{{ notif.json["output"]|wordwrap(110) }}</code></p>
  </td>
{%- endmacro %}

{% macro table_column_data_handover(notif, users) -%}
  {%- set to_user = users.get(notif.json["to_user_id"]) -%}
  {%- set from_user = users.get(notif.json["from_user_id"]) if notif.json["from_user_id"] else None -%}
  <td>
    {{ table_column_data_status(notif) }}
    {% if from_user -%}
      {% if notif.json["message"] -%}
      <p>{{ print_user(to_user) }} is now on-call, taking over from {{ print_user(from_user) }} with the following message:</p>
      {%- else -%}
      <p>{{ print_user(to_user) }} is now on-call, taking over from {{ print_user(from_user) }}.</p>
      {%- endif %}
    {%- else -%}
      {% if notif.json["message"] -%}
      <p>{{ print_user(to_user) }} is now on-call with the following message:</p>
      {%- else -%}
      <p>{{ print_user(to_user) }} is now on-call.</p>
      {%- endif %}
    {%- endif %}
    {% if notif.json["message"] -%}
      <p><code>{{ notif.json["message"]|wordwrap(110) }}</code></p>
    {%- endif %}
  </td>
{%- endmacro %}

{% macro table_column_data_message(notif, users, reply_notifs) -%}
  <td>
    {{ table_column_data_status(notif) }}
    <p>{% if notif.json["from_user_id"] %}{{ print_user(users.get(notif.json["from_user_id"])) }}{% else %}<b>Hot Potato</b>{% endif %}{% if notif.user_id %}&emsp;{{ print_rightarrow() }}&emsp;{{ print_user(notif.user) }}{% endif %}</p>
    {% if notif.json["reply_to_notif_id"] -%}
    <p>reply to {{ print_notification(reply_notifs.get(notif.json["reply_to_notif_id"])) }}</p>
    {%- endif %}
    <p><code>{{ notif.json["message"]|wordwrap(110) }}</code></p>
  </td>
{%- endmacro %}


{% macro table_column_info(notif, notif_module) -%}
  {%- set route_name = 'notifications_' + notif_module + '_get_by_id' if notif_module else 'notifications_get_by_id' -%}
  <!-- style="height:100%" is needed to get the FlexBox working correctly -->
  <td class="text-center col-md-2" style="height:100%">
    <div style="display:flex; flex-direction:column; justify-content:space-between; height:100%">
      <!-- Positioned at the top -->
      <p style="margin:0; padding:0">{{ to_local_time(notif.received_dt, tz=current_user.timezone) }}</p>
      <!-- Positioned in the middle -->
      <p style="margin:1em; padding:0">
        <a role="button" class="btn btn-default js-tooltip" data-toggle="tooltip" data-placement="bottom" title="View message details" href="{{ url_for(route_name, notif_id=notif.id) }}"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></a>
        <button type="button" class="btn btn-default btn-copy js-tooltip js-copy" data-toggle="tooltip" data-placement="bottom" title="Copy link to clipboard" data-copy="{{ request.url_root }}{{ url_for(route_name, notif_id=notif.id)[1:] }}"><span class="glyphicon glyphicon-link" aria-hidden="true"></button>
        <button type="button" class="btn btn-default btn-copy js-tooltip js-copy" data-toggle="tooltip" data-placement="bottom" title="Copy details to clipboard" data-copy="{{ notif.body }}"><span class="glyphicon glyphicon-copy" aria-hidden="true"></button>
      </p>
      <!-- Positioned at the bottom -->
      <p style="margin:0; padding:0">{% if notif.user_id %}{{ print_user(notif.user) }}{% else %}(no user ID){% endif %}</p>
    </div>
  </td>
{%- endmacro %}
